body {
    margin: 0;
    background-color: #252526;
    font-family: 'Lato', sans-serif;
  }

  /*styling for the top bar*/
  .topnav {
    overflow: hidden;
    background-color: #252526;
    
  }

  /*styling for the top bar*/
  .topnav a {
    float: left;
    display: block;
    padding: 1px 1px;
    text-decoration: none;
    font-size: 17px;
    position: sticky;
    top: 0;
  }


.logo {
  width: 40%;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: sticky;
    top: 0;
}

.nav {
  overflow: hidden;
  background-color: #333;
}

.nav a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.nav a:hover, .dropdown:hover .dropbtn {
  background-color: #737373;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.blmheader {
  width: 100%;
  height: auto;
}

.infograph {
  color: #595959;
}


.ess1 {
  width: 95%;
  height: auto;
  float: left;
}

.ess2 {
  width: 80%;
  height: auto;
  padding-top: 15%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}


.gas1 {
  width: 95%;
  height: auto;
  padding-top: 15%;
  float: right;
}

.gas2 {
  width: 80%;
  height: auto;
  padding-top: 15%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.gloves1 {
  width: 95%;
  height: auto;
  float: left;
  padding-top: 15%;
}

.gloves2 {
  width: 80%;
  height: auto;
  padding-top: 15%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.id1 {
  width: 95%;
  height: auto;
  float: right;
  padding-top: 15%;
}

.id2 {
  width: 80%;
  height: auto;
  padding-top: 15%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 10%;
}

.foot {
  width: 100%;
  height: auto;
}